footer {
    position: relative;
    z-index: 10;
    background-color: var(--color-bg-secondary);
    padding: 50px 0;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        z-index: 2;

        /* Simule un stroke avec une bordure */
        border-top: 3px solid #6e6e6e;

        /* Ajout du flou */
        filter: blur(2px);
    }
}
.footer-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--spacing-sm);
    max-width: 1440px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    @media screen and (max-width: 1000px){
        flex-direction: column;
        gap: 10px;
    }
    

    .footer__brand {
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        h3 {
            font-family: var(--font-primary);
            font-size: var(--font-size-h3);
            color: var(--color-secondary);
        }
    }
    .footer__brand:hover {
        h3 {
            color: var(--color-primary);
        }
    }
    p {
        font-family: var(--font-secondary);
        font-size: var(--font-size-p);
        margin: 0;
        margin-bottom: 50px;
    }
    ul {
        display: flex;
        align-items: center;

        li {
            list-style-type: none;
            padding: 0 20px;
        }

        a {
            position: relative;

            svg {
                color: var(--color-primary);
                width: 20px;
                height: 20px;
            }
            svg:hover {
                color: var(--color-white);
            }
        }
        a::before {
            background-color: var(--color-bg-primary);
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            display: block;
            z-index: 0;
            bottom: -50%;
            left: -50%;
            transform: scale(1);
            border-radius: 100%;
            transition: transform 0.3s ease-out;
        }
        a:hover::before {
            background-color: var(--color-primary);
            transform: scale(1.5);
            transition: transform 0.3s ease-out;
        }
    }
}

.separateur{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .one .two{
        svg{
            width: 280px;
        }
        
    }
}

.copy{
    color: #666;
    font-family: var(--font-primary);
    font-size: 14px;
}