.formulaire {
    margin: auto;
    h3 {
        color: var(--color-secondary);
        font-size: var(--font-size-h3);
        text-align: center;
    }
}
.form {
    --input-radius: 3px;
    --input-padding: 1rem;
    fieldset {
        border: none;
        padding: 0;

        h5{
            font-family: var(--font-secondary);
            font-size: var(--font-size-h5);
            color: var(--color-primary);
            font-weight: bolder;
        }
    }
    .space{
        
            margin-bottom: 100px;
    }
    .grid {
        display: grid;
        gap: var(--spacing-md);
        grid-template-columns: 1fr;

        @media screen and (min-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
.u-grid-fullwitdh {
    grid-column: 1 / -1 !important;
    p{
        font-family: var(--font-secondary);
        font-size: var(--font-size-p);
        color: var(--color-primary);
        font-weight: 600;
    }
}

.form__footer {
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: $breakpoint-md) {
        justify-content: flex-start;
    } 
}

.form__body {
    .is-sent & {
        display: none;
    }
}

.form__confirmation {
    display: none;

    p{
        font-family: var(--font-secondary);
        font-size: var(--font-size-p);
    }

    .is-sent & {
        display: block;
    }
}

.input__label {
    display: block;
    font-weight: 600;
    font-size: var(--font-size-p);
    font-family: var(--font-secondary);
}

.input__element {
    border-radius: 16px;
    background-color: var(--color-white);
    border: none;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    font-family: inherit;
    outline: none;
    padding: var(--input-padding);
    width: 100%;
    font-family: var(--font-secondary);
        font-style: italic;
        color: var(--color-primary);

    &:-webkit-autofill,
    &:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 30px var(--color-white) !important;
        -webkit-text-fill-color: inherit !important ;
    }
    // hover
    &:hover,
    + .input__label:hover::before {
        background-color: var(--color-bg-secondary);
    }
    //focus
    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        background-color: var(--color-primary);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 0 0 0 300px var(--color-bg-secondary) !important;

    }
    //autocomplete
    &::placeholder {
        color: var(--color-secondary);
        font-family: var(--font-secondary);
        font-style: italic;
        opacity: 0.4;
    }
}

/*
   select
   ========================================================================== */
.select {
    position: relative;

    .input__element {
        appearance: none;
        padding-right: var(--spacing-md);

        &:invalid {
            color: var(--color-secondary);
            opacity: 0.4;
        }
    }

    option {
        background-color: var(--color-white);
        color: color;
    }

    &::after {
        --size: 12px;
        content: '';
        background: url('../assets/images/icon-chevron-down.svg') no-repeat 50%
            50%;
        background-size: 100%;
        height: var(--size);
        position: absolute;
        pointer-events: none;
        top: 50%;
        transform: translateY(50%);
        right: var(--input-padding);
        width: var(--size);
    }
}
/*
   textarea
   ========================================================================== */
.textarea {
    .input__element {
        resize: vertical;
        height: 150px;

    }
}
/*
   checkbox + radio
   ========================================================================== */
.input {
    position: relative;

    .text{
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: var(--font-size-p);
        font-family: var(--font-secondary);
    }
    .sub{
        font-family: var(--font-primary);
        font-weight: 600;
        font-size: var(--font-size-p);
        font-family: var(--font-secondary);
    }
}
.checkbox,
.radio {
    --active-scale: 1;
    .input__element {
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .input__label {
        --size: 22px;
        cursor: pointer;
        
        padding-left: calc(var(--size) + var(--spacing-sm));
        position: relative;

        &::before,
        &::after {
            content: '';
            height: var(--size);
            position: absolute;
            left: 0;
            top: 0;
            width: var(--size);
        }

        &::before {
            background-color: var(--color-white);
            border-radius: var(--input-radius);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            border: 1px solid var(--color-primary);
        }
        &::after {
            opacity: 0;
            transform: scale(0);
            transition: all 0.4s $ease-out-expo;
        }
    }
    .input__element:checked + .input__label {
        &::after {
            opacity: 1;
            transform: scale(var(--active-scale));
        }
    }
}

.checkbox {
    .input__label::after {
        background: url('../assets/images/icon-check.svg') no-repeat 50% 50%;
        background-size: 50%;
    }
}
.radio {
    height: 30px;
    .input__label {
        &::before {
            border-radius: 100%;
        }

        &::after {
            --active-scale: 0.4;
            background-color: var(--color-secondary);
            border-radius: 100%;
        }
    }
}

/*
   error
   ========================================================================== */

.error {
    .input__element,
    .check .input__label::before,
    .radio .input__label::before,
    &.check .input__label::before,
    &.radio .input__label::before {
        box-shadow: inset 0 0 0 3px var(--color-fail);
        
    }

    .input__label {
        color: var(--color-fail);
    }
}
