.hero {
    position: relative;
}

.img_hero {
    width: 100%;
    max-height: 850px;
    position: relative;
}
.contact_img {
    width: 100%;
    min-width: 320px;
    max-height: 570px;
    min-height: 200px;
}
.hero_content {
    position: absolute;
    bottom: 10%;

    width: 100%; /* Use full width of the parent */
    max-width: 900px; /* Set a maximum width to prevent it from exceeding the SVG size */
    height: auto; /* Allow height to adjust based on the width */
    @media screen and (min-width: 945px) {
        right: 5%;
    }
}
.hero-svg-container {
    position: relative; /* Position relative for text positioning */
    width: 100%; /* Make it responsive */
    height: auto; /* Allow it to adjust based on the aspect ratio of the SVG */
    overflow: hidden; /* Ensure no overflow */
}
.text-overlay {
    position: absolute; /* Absolute positioning to overlay the text */
    top: 60%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    color: var(--color-bg-secondary); /* Change text color for visibility */
    width: 95%;
}
.text-overlay-top {
    position: absolute; /* Absolute positioning to overlay the text */
    top: -6%; /* Center vertically */
    left: 67%; /* Center horizontally */
    text-align: center; /* Center text */
    color: var(--color-bg-secondary);
    @media screen and (max-width: 620px){
        top: 1%;
        h3{
            margin: 0;
            font-size: 20px;
        }
        
    }
}
