.hero {
    position: relative;
}

.img_hero {
    position: relative;
    width: 100%; /* La vidéo prend toute la largeur */
    max-height: 750px; /* Limite la hauteur à 750px */
    overflow: hidden; /* Cache tout dépassement de la vidéo */
}

.img_hero video {
    width: 100%; /* La vidéo prend toute la largeur disponible */
    height: auto; /* Préserve le ratio d'aspect */
    max-height: 750px; /* Limite la hauteur de la vidéo à 750px */
    object-fit: cover; /* S'assure que la vidéo couvre tout l'espace sans distorsion */
}
.contact_img {
    width: 100%;
    min-width: 320px;
    max-height: 570px;
    min-height: 200px;
}
.hero_content {
    position: absolute;
    bottom: 10%;

    width: 100%; /* Use full width of the parent */
    max-width: 900px; /* Set a maximum width to prevent it from exceeding the SVG size */
    height: auto; /* Allow height to adjust based on the width */
    @media screen and (min-width: 945px) {
        right: 5%;
    }
}
.hero-svg-container {
    position: relative; /* Position relative for text positioning */
    width: 100%; /* Make it responsive */
    height: auto; /* Allow it to adjust based on the aspect ratio of the SVG */
    overflow: hidden; /* Ensure no overflow */
}
.text-overlay {
    position: absolute; /* Absolute positioning to overlay the text */
    top: 60%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    color: var(--color-secondary); /* Change text color for visibility */
    width: 95%;
}
.text-overlay-top {
    position: absolute; /* Absolute positioning to overlay the text */
    top: 5%;
    left: 65%;
    text-align: center; /* Center text */
    color: var(--color-secondary);
    h3{
        font-size: 34px;
    }

    @media screen and (max-width: 900px) {
        
        h3 {
            margin: 0;
            font-size: 30px;
        }
    }
    @media screen and (max-width: 780px) {
        top: 4%;
        h3 {
            margin: 0;
            font-size: 25px;
        }
    }

    @media screen and (max-width: 620px) {
       
        h3 {
            margin: 0;
            font-size: 20px;
        }
    }
    @media screen and (max-width: 520px) {
        top: 5%;
        h3 {
            margin: 0;
            font-size: 13px;
        }
    }
}
