.intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;

    @media screen and (max-width: 700px) {
       display: flex;
       flex-direction: column-reverse;
    }
}
.intro .entrepot .txt p{
    @media screen and (max-width: 910px) {
        font-size: 16px; 
 }
 @media screen and (max-width: 700px) {
    font-size: 22px; 
}
@media screen and (max-width: 540px) {
    font-size: #{typo(14px, 22px)};
}

}
.intro-text {
    position: relative;
    height: 100%;
    width: 100%;

    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .intro-affiche {
        position: absolute;
        display: flex;
        bottom: 4%;
        left: 0;
        margin: 0 10px;
        flex-direction: column;
        height: 80%;
        justify-content: space-around;
        h2 {
            font-size: #{typo(2px, 50px)};

            @media screen and (max-width: 900px) {
                   font-size: 13px; 
            }
            @media screen and (max-width: 700px) {
                font-size: #{typo(13px, 52px)};
         }
        }
        h1{
            @media screen and (max-width: 900px) {
                font-size: 21px; 
         }
         @media screen and (max-width: 700px) {
             font-size: #{typo(22px, 77px)};
      }
        }
    }
    .projet-info {
        .entrepot {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-height: 100%;
            height: 100%;
            .txt {
                width: 100%;
            }
            div {
                .etage {
                    display: flex;
                    gap: 16px;
                    height: 120px;
                    .arriere {
                        position: relative;
                        color: var(--color-secondary);

                        .app {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                .btn {
                    .btn-fond {
                        position: relative;

                        .savoir {
                            display: flex;
                            position: absolute;
                            width: 80%;
                            height: 100%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            justify-content: space-between;
                            align-items: center;
                        }

                        /* Changement de couleur du SVG lors du hover */
                        &:hover .svg-btn path {
                            fill: #c6ff01; /* Couleur que tu veux lors du hover */
                        }

                        a:hover {
                            color: #171616;
                        }
                    }
                }
            }
        }
    }
}
.template {
    position: relative;
    width: 100%;
    height: 100%;
    .univers-texte {
        position: absolute;
        top: 0;
        margin: 5px;
        p {
            margin: 10px 0;
        }
        @media screen and (max-width: 1300px) {
            p{
               font-size: 15px; 
            }
        }
        @media screen and (max-width: 540px) {
            p{
               font-size: 13px; 
            }
        }
        
    }
    svg {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.etape-text{
    .template{
        img{
            @media screen and (max-width: 950px) {
                height: 300px;
            }
            @media screen and (max-width: 425px) {
                height: 350px;
            }
        }
    }
}
.resum {
    .resum-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 21px 56px;
        
        @media screen and (max-width: 1000px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 50px;
        }

        .template {
            @media screen and (max-width: 1000px) {
               text-align: center;
            }
            
            .tex-up {
                position: absolute;
                top: 25%;
                left: 0;
                width: 100%;
                ul {
                    padding-left: 10%;
                }
                li {
                    font-size: 25px;
                    padding-bottom: 15%;
                    color: var(--color-secondary);
                    @media screen and (max-width: 550px) {
                        font-size: 23px;
                        padding-bottom: 11%;
                     }
                }
            }
            .tex {
                position: absolute;
                top: 0;
                left: 0;
                padding: 50px;
                width: 100%;

                @media screen and (max-width: 550px) {
                    padding: 0;
                 }
                ul {
                    padding-left: 10%;
                }
                li {
                    font-size: 25px;
                    padding-bottom: 15%;
                    color: var(--color-secondary);
                    @media screen and (max-width: 550px) {
                        font-size: 23px;
                        padding-bottom: 11%;
                     }
                    
                }
            }
            .titrage-up {
                position: absolute;
                top: 6%;
                left: 5%;
                color: var(--color-white);
                h4 {
                    margin: 0;
                }
            }
            .titrage-down {
                position: absolute;
                bottom: 6%;
                left: 5%;
                color: var(--color-white);
                h4 {
                    margin: 0;
                }
            }
        }
        .long {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            .univers-texte{
                p{
                    @media screen and (max-width: 550px) {
                font-size: 14px;
             }
            
                }
            }
            
        }
    }
}
.template {
    .univers-texte {
        position: absolute;
        top: 0;
        p {
            margin: 0px;
        }
    }
}


.full-flex {
    display: flex;
    gap: 46px;
    flex-direction: column;
}
.fit {
    clip-path: path(
        'M637.505 3.00008L1437 3C1437.55 3 1438 3.44773 1438 4.00001L1438 673.929C1438 674.482 1437.55 674.929 1437 674.929L952.011 674.929C951.883 674.929 951.757 674.954 951.639 675.001L637.389 800.928C637.271 800.976 637.145 801 637.017 801L4.00018 801C3.44781 801 3.00018 800.552 3.00018 800L3.00011 127.388C3.00011 126.836 3.44774 126.388 4.00011 126.388L445.948 126.388C446.141 126.388 446.329 126.333 446.491 126.228L636.963 3.16015C637.124 3.05566 637.313 3.00008 637.505 3.00008Z'
    );
}
.etape-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 1100px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
}

.ecriture {
    position: absolute;
    top: 0;
    padding: 10px;
    margin: 10px;
    h3{
        color: var(--color-secondary);
    }
    @media screen and (max-width: 500px) {
        p{
            margin: 0;
            font-size: 13px;
        }
        
    }
}

.gauche {
        text-align: center;
        padding-right: 15%;
}
.droite {
        text-align: center;
        padding-left: 14%;
}
.haut{
    text-align: center;
    padding-top: 3%;
    @media screen and (max-width: 950px) {
        padding-top: 7%;      
     }
     @media screen and (max-width: 540px) {
        padding-top: 9%;      
     }
     @media screen and (max-width: 420px) {
        padding-top: 14%;      
     }
    
}

.video {
    border: 5px #769703 solid;
    border-radius: 3px;
}
