.projets {
    position: relative;
}

.projet {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: white;
    position: sticky;
    top: 5%; /* Décalage de 10% vers le bas */
    width: 100%;
    transition: transform 0.5s ease-out;
    margin-top: -5vh; /* Remplace le haut de la projet pour qu'elle "touche" le haut */
}

.projet::before {
    content: attr(id);
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    color: red;
    pointer-events: none;
    left: 20px;
    top: 20px;
    z-index: 1;
}

/* Styles spécifiques pour chaque projet */
#projet1::before {
    top: -3%;
    left: 8%;
}
#projet2::before {
    top: -4%;
    left: 26%;
}
#projet3::before {
    top: -4%;
    left: 41%;
}
#projet4::before {
    top: -4%;
    left: 57%;
}
#projet5::before {
    top:-4%;
    left: 73%;
}

#projet1 {
    z-index: 1;
}
#projet2 {

    z-index: 2;
}
#projet3 {

    z-index: 3;
}
#projet4 {
    z-index: 4;
}
#projet5 {
    z-index: 5;
}

/* Classes dynamiques pour le contrôle visuel */
.projet.active {
    z-index: 10; /* Met en avant la projet active */
}

.projet.past {
    z-index: 1; /* Réduit l'importance visuelle des projets passées */
}


.projet-container {
    width: 100%; 
    svg {

        top: -7%;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
