.projets {
    position: relative;
    margin-top: 50px;

}

.projet {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: white;
    position: sticky;
    top: 2%; /* Décalage de 10% vers le bas */
    width: 100%;
    transition: transform 0.5s ease-out;
    margin-top: -2vh; /* Remplace le haut de la projet pour qu'elle "touche" le haut */
}

/* Styles spécifiques pour chaque projet */

#projet1 {
    z-index: 1;
    @media screen and (max-width: 1000px) {
        padding-bottom: 10%;
    }
    @media screen and (max-width: 700px) {
        padding-bottom: 5%;
    }
    @media screen and (max-width: 420px) {
        padding-bottom: 30%;
    }
}
#projet2 {
    z-index: 2;
    @media screen and (max-width: 1000px) {
        padding-bottom: 15%;
    }
    @media screen and (max-width: 700px) {
        padding-bottom: 10%;
    }
    @media screen and (max-width: 420px) {
        padding-bottom: 40%;
    }
}
#projet3 {
    z-index: 3;
    @media screen and (max-width: 1000px) {
        padding-bottom: 20%;
    }
    @media screen and (max-width: 700px) {
        padding-bottom: 15%;
    }
    @media screen and (max-width: 420px) {
        padding-bottom: 50%;
    }
}
#projet4 {
    z-index: 4;
    @media screen and (max-width: 1000px) {
        padding-bottom: 25%;
    }
    @media screen and (max-width: 700px) {
        padding-bottom: 20%;
    }
    @media screen and (max-width: 420px) {
        padding-bottom: 60%;
    }
}
#projet5 {
    z-index: 5;
    @media screen and (max-width: 1000px) {
        padding-bottom: 30%;
    }
    @media screen and (max-width: 700px) {
        padding-bottom: 25%;
    }
    @media screen and (max-width: 420px) {
        padding-bottom: 70%;
    }
}

.projet1 {
    position: absolute;
    top: 1.5%;
    left: 6%;
    z-index: 10;
    h3{
         font-size: 27px;     
    }
    
    @media screen and (max-width: 1000px) {
        top: 2%;
        h3 {
            margin: 0;
            font-size: 16px;
        }
    }
    @media screen and (max-width: 600px) {
        top: 2.5%;
        h3 {
            font-size: 11px;
        }
    }
    @media screen and (max-width: 450px) {
        h3 {
            font-size: 9px;
        }
    }
}
.projet2 {
    position: absolute;
    top: 1.5%;
    left: 23%;
    h3{
        font-size: 27px;       
   }
   @media screen and (max-width: 1000px) {
    top: 2%;
    h3 {
        margin: 0;
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    top: 2.5%;
    h3 {
        font-size: 11px;
    }
}
@media screen and (max-width: 450px) {
    h3 {
        font-size: 9px;
    }
    }
}
.projet3 {
    position: absolute;
    top: 1.5%;
    left: 40%;
    h3{
        font-size: 27px;       
   }
    @media screen and (max-width: 1000px) {
        top: 2%;
        h3 {
            margin: 0;
            font-size: 16px;
        }
    }
    @media screen and (max-width: 600px) {
        top: 2.5%;
        h3 {
            font-size: 11px;
        }
    }
    @media screen and (max-width: 450px) {
        h3 {
            font-size: 9px;
        }
    }
}
.projet4 {
    position: absolute;
    top: 1.5%;
    left: 57%;
    h3{
        font-size: 27px;      
   }
   @media screen and (max-width: 1000px) {
    top: 2%;
    h3 {
        margin: 0;
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    top: 2.5%;
    h3 {
        font-size: 11px;
    }
}
@media screen and (max-width: 450px) {
    h3 {
        font-size: 9px;
    }
    }
}
.projet5 {
    position: absolute;
    top: 1.5%;
    left: 74.4%;
    h3{
        font-size: 27px;     
   }
   @media screen and (max-width: 1000px) {
    top: 2%;
    h3 {
        margin: 0;
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    top: 2.5%;
    h3 {
        font-size: 11px;
    }
}
@media screen and (max-width: 450px) {
    h3 {
        font-size: 9px;
    }
    }
}

/* Classes dynamiques pour le contrôle visuel */

.projet-container {
    position: relative;
    height: 100%;

    .back {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .affiche {
        position: absolute;
        top: 2%;
        left: 0;
        margin: 50px;
        @media screen and (max-width: 600px) {
            margin: 50px 5px;
        }
    }
}
.projet-info {
    .entrepot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 100%;
        height: 100%;
        .txt {
            width: 100%;

            p {
                margin: 0;
                @media screen and (max-width: 650px) {
                    font-size:1rem ;
                }
            }
        }
        .config {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .etage {
                display: flex;
                gap: 16px;
                max-height: 60%;
                .arriere {
                    position: relative;
                    color: var(--color-secondary);
                    }
                    .app {
                        position: absolute;
                        top: 62%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 100%;
                    }
                
            }

            .btn-fond {
                position: relative;
                height: 100%;

                .savoir {
                    display: flex;
                    position: absolute;
                    width: 80%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    justify-content: space-between;
                    align-items: center;
                    color: var(--color-thirt);
                    text-decoration: none;

                    font-family: var(--font-primary);
                    font-size: var(--font-size-a);
                    font-style: normal;
                    font-weight: bolder;
                    line-height: normal;
                    @media screen and (max-width: 965px) {
                        font-size: 14px;
                    }
                    @media screen and (max-width: 600px) {
                        font-size: var(--font-size-a);
                    }

                    @media screen and (max-width: 420px) {
                        font-size: 24px;
                    }

                    &:hover div rect {
                        fill: #171616; /* Couleur que tu veux lors du hover */
                    }
                    &:hover div path {
                        fill: #171616; /* Couleur que tu veux lors du hover */
                    }
                }

                /* Changement de couleur du SVG lors du hover */
                &:hover .svg-btn path {
                    fill: #c6ff01; /* Couleur que tu veux lors du hover */
                }

                a:hover {
                    color: #171616;
                }
            }
        }
    }
}
.projet-image {
    img {
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
.projet-titre {
    h2 {
        margin: 0;
        color: var(--color-secondary);
        @media screen and (max-width: 435px) {
            font-size: 18px;
        }
    }
    h1 {
        color: var(--color-primary);
        @media screen and (max-width: 810px) {
            font-size: 32px;
        }
        @media screen and (max-width: 600px) {
            font-size: var(--font-size-h1);
        }
        @media screen and (max-width: 485px) {
            font-size: 23px;
        }
    }
}
.affiche {
    max-height: 850px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @media screen and (max-width: 1000px) {
            grid-template-rows: 120px 1fr 1fr;
    }



    @media screen and (max-width: 700px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .projet-titre {
        margin: 5px 0;
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        flex-direction: column;
        justify-content: center;
    }
    .projet-image {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
        @media screen and (max-width: 700px) {
            width: 40%;
        }
    }
    .projet-info {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}
.arriere{

    &:hover svg path {
        stroke: #c6ff01;
        filter: drop-shadow(0px 0px 2px #C6FF01);
    }
}