/*
titre
*/
.title {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.titre-svg-container {
    position: relative;
    width: 100%;
    padding-top: 36.89%; /* Aspect ratio to maintain the height based on the original SVG (332 / 900 * 100) */
    height: 0;
    overflow: hidden;
    svg {
        position: absolute; /* Absolute to fill the container */
        top: 0;
        left: 0;
        width: 100%; /* Full width of the parent container */
        height: 100%; /* Adjust height automatically based on width */
    }
}

.title-overlay {
    position: absolute; /* Position overlay absolutely in relation to its container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to make it perfectly centered */
    color: white; /* Change color for visibility */
    font-size: 2vw; /* Responsive font size */
    text-align: center; /* Center the text */
    pointer-events: none; /* Disable interaction with the text */
    width: 100%;
}
/*
grid
*/
.propos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*
présentation
*/
.presentation {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: span 4; /* Prendre 4 colonnes */

    .presentation-container {
        width: 100%;
        height: 100%; /* Assurez-vous que le conteneur prend toute la hauteur disponible */
        overflow: hidden;

        svg {
            top: 0;
            left: 0;
            width: 100%; /* Prendre toute la largeur du conteneur */
            height: 100%; /* Prendre toute la hauteur également */
            object-fit: cover; /* S'adapter au conteneur sans déformation */
        }
        path {
            width: 100%; /* Prendre toute la largeur du conteneur */
            height: 100%; /* Prendre toute la hauteur également */
        }
    }
    .contenu-presentation{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 92%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .presentation-titrage {

        color: white; /* Change color for visibility */
        text-align: left; /* Center the text */
        pointer-events: none; /* Disable interaction with the text */
        h3 {
            margin: 0;
        }
    }
    .presentation-overlay {
        color: white;
        pointer-events: none;
        text-align: left;
        width: 90%; /* Ajuster la largeur de l'overlay */
        p{
            font-size: 27px;  
            @media screen and (max-width: 800px) {
                font-size: 22px;
            }

            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
        
        }
    }
}
/*
img
*/
.img {
    display: flex;
    grid-column: span 2;
    margin: 0 10px;
    div {
        max-width: 462px;
        width: 100%;
        max-height: 650px;
        height: auto;

        img {
            max-width: 462px;
            width: 100%;
            max-height: 650px;
            height: auto;
            border: 1px var(--color-primary) solid;
            object-fit: cover;
        }
    }
}
/*
loisir
*/
.loisir {
    width: 100%;
    grid-column: span 3; /* Prendre 3 colonnes */

    .offre {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .produit {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-weight: bold;
            text-align: center;
        }
    }
    .iconbg {
        position: relative;
        .iconp {
            position: absolute;
            top: 45%;
            left: 50%;
            z-index: 2;
            color: var(--color-primary);
            transform: translate(-50%, -50%);

            svg {
                max-width: 80px;
                max-height: 80px;
                width: 100%;
                height: 100%;
                
            }
        }
        
    }

}
.contenu-loisir {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.presentation-overlay-loisir {
    pointer-events: none;
    text-align: left;
}

.presentation-titrage-loisir {
    color: var(--color-secondary);
    text-align: left; /* Center the text */
    pointer-events: none; /* Disable interaction with the text */
}
/*
expertice
*/
.expertise {
    position: relative;
    height: 100%;
    width: 100%;
    grid-column: span 3; /* Prendre 3 colonnes */
}
.contenu-expertise{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.expertise-container {
    width: 100%;
    height: 100%; /* Assurez-vous que le conteneur prend toute la hauteur disponible */
    overflow: hidden;
    svg {
        top: 0;
        left: 0;
        width: 100%; /* Prendre toute la largeur du conteneur */
        height: 100%; /* Prendre toute la hauteur également */
        object-fit: cover; /* S'adapter au conteneur sans déformation */
    }
}
.expertise-titrage-expert {
    color: white;
    pointer-events: none;
    text-align: left;
    width: 90%; /* Ajuster la largeur de l'overlay */
    h3{
        margin: 0;
    }
}
.expertise-overlay-expert {
    position: absolute;
    top: 60%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
    text-align: left;
    width: 100%; /* Ajuster la largeur de l'overlay */
}
.evaluation {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.resulta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.visuel {
    position: relative;
}
.logiciel {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
    color: var(--color-contrast);
    transform: translate(-50%, -50%);

    svg {
        width: 100%;
        height: 100%;
        max-width: 80px;
        max-height: 80px;
    }
}


/*
responsif
*/

.propos-grid {
    @media screen and (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
}
.presentation {
    @media screen and (max-width: 1000px) {
        height: 400px;
        .presentation-overlay {
            width: 97%;
        }
        .presentation-titrage {
            transform: translate(0, 0);
            left: 1%;
            top: 1%;
        }
    }
    @media screen and (max-width: 600px) {
        .presentation-titrage {
            top: 3%;
            h3 {
                font-size: 16px;
            }
        }
    }
}
.evaluation{
    @media screen and (max-width: 1000px){
        gap: 0;
    }
}
