/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #274c5b;
    --color-secondary: #00b5ff;

    --color-bg-primary: #0084b8;
    --color-bg-secondary: #eff6f1;

    --color-fail: red;
}
