/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'orbitron', sans-serif;
    --font-secondary: 'Karla', monospace;
    --font-third: 'Rajdhani', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(30px, 77px)}; //bold // orbitron
    --font-size-h2: #{typo(28px, 65px)}; //regular // karla
    --font-size-h3: #{typo(26px, 40px)}; // bold    // karla
    --font-size-h4: #{typo(30px, 35px)}; // regular // orbitron

    --font-size-a: #{typo(30px, 35px)}; //bolder
    --font-size-p: #{typo(18px, 20px)};

}
