{% include "_partials/_header.html" %}
<section class="content">
    <section class="wrapper">
        <div class="introduction"> 
            <div class="intro-grid">
                   <div> 
                        <div class="intro-text" data-scrolly="fromLeft">
                                <img src="./assets/svg/classic.svg" alt="">
                            <div class="intro-affiche">
                                <div class="projet-titre">
                                    <h2>3D | réalité virtuel</h2>
                                    <h1>Le Bureau des 4 chats</h1>
                                </div>
                                <div class="intro">
                                    <div class="entrepot">
                                        <div class="txt">
                                            <p>Lina trouva un vieux livre poussiéreux dans le grenier de sa grand-mère. En l'ouvrant, des mots dorés brillaient : "Lis à haute voix et découvre." Elle lut. Tout autour d'elle changea, la pièce s'évanouit. Elle était maintenant dans une forêt enchantée, entourée de créatures magiques.</p>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                <div class="images" data-scrolly="fromRight">
                    <img src="./assets/images/projet_3d.png" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="etage">
                <div class="arriere" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="87" height="100" viewBox="0 0 87 100" fill="none" preserveAspectRatio="none">
                        <path d="M1.69873 25.865L43.5 1.73107L85.3013 25.865V74.133L43.5 98.267L1.69873 74.133V25.865Z" fill="#B5B5B5" fill-opacity="0.6" stroke="#25113E" stroke-width="3"/>
                    </svg>
                    <div class="appli">
                        <svg class="icon icon-xl">
                            <use xlink:href="#icon-unity"></use>
                        </svg>
                    </div>
                </div>
                <div class="arriere">
                    <svg xmlns="http://www.w3.org/2000/svg" width="87" height="100" viewBox="0 0 87 100" fill="none" preserveAspectRatio="none">
                        <path d="M1.69873 25.865L43.5 1.73107L85.3013 25.865V74.133L43.5 98.267L1.69873 74.133V25.865Z" fill="#B5B5B5" fill-opacity="0.6" stroke="#25113E" stroke-width="3"/>
                    </svg>
                    <div class="appli">
                        <svg class="icon icon-xl">
                            <use xlink:href="#icon-mage_premier-pro"></use>
                        </svg>
                    </div>
                </div>
                <div class="arriere">
                    <svg xmlns="http://www.w3.org/2000/svg" width="87" height="100" viewBox="0 0 87 100" fill="none" preserveAspectRatio="none">
                        <path d="M1.69873 25.865L43.5 1.73107L85.3013 25.865V74.133L43.5 98.267L1.69873 74.133V25.865Z" fill="#B5B5B5" fill-opacity="0.6" stroke="#25113E" stroke-width="3"/>
                    </svg>
                    <div class="appli">
                        <svg class="icon icon-xl">
                            <use xlink:href="#icon-blender"></use>
                        </svg>
                    </div>
                </div>  
                
            </div>
        </div>
    </section>
    <section class="resum wrapper">
        <div class="title" data-scrolly="fromBigSmall">
            <div class="titre-svg-container">
                <img src="./assets/svg/title.svg" alt="">
            </div>
            <div class="title-overlay">
                <h2>RÉSUMÉ</h2>
            </div>
        </div>
        <div class="resum-grid"> 
            <div>
                <div class="template" data-scrolly="fromLeft">
                    <img src="./assets/svg/bas.svg" alt="">
                    <div class="tex">
                        <ul>
                            <li>création d'object 3D</li>
                            <li>enrichisement de l'environnement</li>
                            <li>animation d'environnement</li>
                        </ul>
                    </div>
                    <div class="titrage-down">
                            <h4>méthode</h4>
                    </div>    
                </div>  
            </div>

            <div class="long">
                <div class=" template" data-scrolly="fromBottom">
                <img src="./assets/svg/long.svg" alt="">
                    <div class="univers-texte droite">
                        <p>Ce projet représente ma première expérience de fusion entre l'animation 3D et 2D, avec l'exploration de la technologie à 360 degrés. J'ai choisi de créer un espace compact, mais rempli de détails cachés, visibles uniquement en prenant le temps de regarder dans toutes les directions, que ce soit au plafond, à gauche ou à droite. Mon objectif était de construire un univers virtuel vivant et interactif dans une courte vidéo.
                            <br>
                            <br>
                            Dans cette présentation, je vais vous expliquer ma méthode de travail, le temps investi, ainsi que les défis que j'ai rencontrés et les solutions que j'ai trouvées. Pour conclure, je vous montrerai le résultat final de ce projet : ma vidéo, qui reflète cette démarche innovante.
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <div class="template" data-scrolly="fromLeft">
                <img src="./assets/svg/haut.svg" alt="">
                <div class="tex-up">
                    <ul>
                        <li>moi</li>
                        <li>soi-même</li>
                        <li>je</li>
                    </ul>
                </div>
                <div class="titrage-up">
                    <h4>crédit</h4>
                </div>
            </div>
            </div>
            
        </div>
    </section> 
    <section class="full-size wrapper">
        <div class="title" data-scrolly="fromBigSmall">
            <div class="titre-svg-container">         
                    <img src="./assets/svg/title.svg" alt="">
                <div class="title-overlay">
                    <h2>Méthodologie</h2>
                </div>
            </div>
        </div>    
            
        <div class=" full-flex">
            <div class="etape-text">
                <div class="template" data-scrolly="fromRight">
                    <img src="./assets/svg/classic_inverse.svg" alt="">
                    <div class="univers-texte texte-etape haut">
                    <p>
                        Dans cette section, je vais vous parler des défis que j'ai rencontrés lors de ce travail. Dans les sections suivantes, je détaillerai comment j'ai résolu ces problèmes et les bénéfices qui en ont découlé. Mon plus grand défi a été la mise en place de mon projet, ainsi que la sous-estimation de la charge de travail nécessaire pour atteindre pleinement mes objectifs.
                        Pour vous donner un peu plus de contexte, au début, je souhaitais créer une bibliothèque avec une multitude d'animations, comme un livre qui vole et des personnages qui marchent, afin de donner vie à cet espace. Cependant, mes compétences ont rapidement montré leurs limites et le temps a commencé à me manquer
                    </p>
                    </div>
                </div>
            </div>
            <div data-scrolly="fromBottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="1441" height="804" viewBox="0 0 1441 804" fill="none" preserveAspectRatio="none">
                    <image class="fit" href="./assets/images/chat4_méthodologie.png" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                    <path d="M637.505 3.00008L1437 3C1437.55 3 1438 3.44773 1438 4.00001L1438 673.929C1438 674.482 1437.55 674.929 1437 674.929L952.011 674.929C951.883 674.929 951.757 674.954 951.639 675.001L637.389 800.928C637.271 800.976 637.145 801 637.017 801L4.00018 801C3.44781 801 3.00018 800.552 3.00018 800L3.00011 127.388C3.00011 126.836 3.44774 126.388 4.00011 126.388L445.948 126.388C446.141 126.388 446.329 126.333 446.491 126.228L636.963 3.16015C637.124 3.05566 637.313 3.00008 637.505 3.00008Z" fill="#B5B5B5" fill-opacity="0.1" stroke="#769703" stroke-width="5"/>
                </svg>
            </div>
        </div>
        
    </section>
    <section class="chronologie wrapper">
        <div class="title" data-scrolly="fromBigSmall">
            <div class="titre-svg-container">
                <img src="./assets/svg/title.svg" alt="">
            </div>
            <div class="title-overlay">
                <h2>chronologie</h2>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-full swiper" data-component="Carousel" data-slides="1" data-loop data-split>
                <div class="swiper-wrapper cards">
                    <div class="swiper-slide">
                        <div class="card">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1377" height="1456" viewBox="0 0 377 456" fill="none" preserveAspectRatio="none">
                                <!-- Insérer l'image à l'intérieur du SVG -->
                                <image class="card-media" href="./assets/images/3dmodel.png" x="0" y="0" width="377" height="456" preserveAspectRatio="xMidYMid slice" />

                                <path d="M1.5 284.783V1.5H327.642V76.4529C327.642 76.9592 327.796 77.4536 328.083 77.8706L375.5 146.738V454.5H45.4508V343.673C45.4508 343.128 45.2728 342.598 44.944 342.163L1.5 284.783Z" fill="#B5B5B5" fill-opacity="0.1" stroke="#769703" stroke-width="3"/>
                            </svg>
                            <div class="card-content">
                                <p>5-10h</p>
                                <h5>rélisation des object/scène 3D</h5>
                                <p>explication et suplus d'information que je dosi mettre pour permet a leteur de comprendre ce que j'ai fait dans cet section et expliquer la raison du temps pris pour réalisé la partie du projet.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="card">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1377" height="1456" viewBox="0 0 377 456" fill="none" preserveAspectRatio="none">
                                <!-- Insérer l'image à l'intérieur du SVG -->
                                <image class="card-media" href="./assets/images/2d4chat.png" x="0" y="0" width="377" height="456" preserveAspectRatio="xMidYMid slice" />

                                <path d="M1.5 284.783V1.5H327.642V76.4529C327.642 76.9592 327.796 77.4536 328.083 77.8706L375.5 146.738V454.5H45.4508V343.673C45.4508 343.128 45.2728 342.598 44.944 342.163L1.5 284.783Z" fill="#B5B5B5" fill-opacity="0.1" stroke="#769703" stroke-width="3"/>
                            </svg>
                            <div class="card-content">
                                <p>2-4h</p>
                                <h5>object 2D</h5>
                                <p>explication et suplus d'information que je dosi mettre pour permet a leteur de comprendre ce que j'ai fait dans cet section et expliquer la raison du temps pris pour réalisé la partie du projet.</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1377" height="1456" viewBox="0 0 377 456" fill="none" preserveAspectRatio="none">
                                <!-- Insérer l'image à l'intérieur du SVG -->
                                <image class="card-media" href="./assets/images/scene4chat.png" x="0" y="0" width="377" height="456" preserveAspectRatio="xMidYMid slice" />

                                <path d="M1.5 284.783V1.5H327.642V76.4529C327.642 76.9592 327.796 77.4536 328.083 77.8706L375.5 146.738V454.5H45.4508V343.673C45.4508 343.128 45.2728 342.598 44.944 342.163L1.5 284.783Z" fill="#B5B5B5" fill-opacity="0.1" stroke="#769703" stroke-width="3"/>
                            </svg>
                            <div class="card-content">
                                <p>3-6h</p>
                                <h5>mise en scène</h5>
                                <p>explication et suplus d'information que je dosi mettre pour permet a leteur de comprendre ce que j'ai fait dans cet section et expliquer la raison du temps pris pour réalisé la partie du projet.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="card">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1377" height="1456" viewBox="0 0 377 456" fill="none" preserveAspectRatio="none">
                                <!-- Insérer l'image à l'intérieur du SVG -->
                                <image class="card-media" href="./assets/images/projet_3d.png" x="0" y="0" width="377" height="456" preserveAspectRatio="xMidYMid slice" />

                                <path d="M1.5 284.783V1.5H327.642V76.4529C327.642 76.9592 327.796 77.4536 328.083 77.8706L375.5 146.738V454.5H45.4508V343.673C45.4508 343.128 45.2728 342.598 44.944 342.163L1.5 284.783Z" fill="#B5B5B5" fill-opacity="0.1" stroke="#769703" stroke-width="3"/>
                            </svg>
                            <div class="card-content">
                                
                                    <p>2h</p>
                                    <h5>assurence qualité</h5>

                                    <p>explication et suplus d'information que je dosi mettre pour permet a leteur de comprendre ce que j'ai fait dans cet section et expliquer la raison du temps pris pour réalisé la partie du projet.</p>
        
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section class="etape wrapper">
        <div class="title" data-scrolly="fromBigSmall">
            <div class="titre-svg-container">
                <img src="./assets/svg/title.svg" alt="">
            </div>
            <div class="title-overlay">
                <h2>Défi</h2>
            </div>
        </div>
        <div class="full-flex">
            <div class="etape-text">
                <div class="template" data-scrolly="fromRight">
                    <img src="./assets/svg/classic_inverse.svg" alt="">
                    <div class="univers-texte texte-etape haut">
                    <p>
                        Dans cette section, je vais vous parler des défis que j'ai rencontrés lors de ce travail. Dans les sections suivantes, je détaillerai comment j'ai résolu ces problèmes et les bénéfices qui en ont découlé. Mon plus grand défi a été la mise en place de mon projet, ainsi que la sous-estimation de la charge de travail nécessaire pour atteindre pleinement mes objectifs.
                        Pour vous donner un peu plus de contexte, au début, je souhaitais créer une bibliothèque avec une multitude d'animations, comme un livre qui vole et des personnages qui marchent, afin de donner vie à cet espace. Cependant, mes compétences ont rapidement montré leurs limites et le temps a commencé à me manquer
                    </p>
                    </div>
                </div>
            </div>
            <div class="etape-grid">
                <div>
                    <div class="template" data-scrolly="fromLeft">
                            <img src="./assets/svg/projet_etape_left.svg" alt="">
                        <div class="ecriture gauche">
                            <h3>résolution</h3>
                            <p>J'ai résolu ce problème de la manière la plus simple que j'ai trouvée : j'ai éliminé les éléments superflus et transformé la bibliothèque en bureau, tout en réduisant les répétitions. J'ai également introduit des rouleaux de parchemin comme variables pour diversifier l'environnement. De plus, j'ai ajouté une cheminée et un chandelier qui compensaient la lumière que j'avais perdue en abandonnant l'idée de la bibliothèque.
                            </p>
                        </div>
                    </div>
                </div>
                        
                    <div>
                        <div class="template" data-scrolly="fromRight">
                            <img src="./assets/svg/projet_etape_right.svg" alt="">
                        <div class="ecriture droite">
                            <h3>Apprentissage</h3>
                            <p>Ce que j'ai appris de cette expérience, c'est l'importance de voir grand tout en étant conscient de mes capacités réelles. J'ai également découvert comment tirer parti des ressources disponibles et j'ai renforcé ma gestion du temps. J'ai compris qu'il vaut mieux achever un projet de qualité que de se lancer dans un travail trop ambitieux et rester à moitié fini.
                            </p>
                        </div>
                    </div>
            </div>
            </div>
        </div> 
    </section>
    <section class="video-sup wrapper">
        <div class="title" data-scrolly="fromBigSmall">
            <div class="titre-svg-container">
                <img src="./assets/svg/title.svg" alt="">
            </div>
            <div class="title-overlay">
                <h2>vidéo/ilustration</h2>
            </div>
        </div>
        <div>
            <div class="video">
                <div class="youtube" data-component="Youtube" data-youtube-id="3qR3xoV-cwE?si=JxyLfn-eJMCtja6a" data-no-rel data-auto-play>
                    <div class="youtube__media js-youtube">
                        <img class="js-poster" src="assets/images/projet_3d.png" alt="spectacle de musique" />
                        <svg class="icon icon--xl">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>
{% include "_partials/_footer.html" %}